<div class="p-10 max-w-7xl m-auto" id="group-show">
  <header class="flex items-center justify-between w-full h-16 sm:h-10 flex-row">
    <h1 class="text-2xl"><%= @group.name %></h1>
  </header>


  <div class="pt-4">
  </div>

</div>
