<main class="bg-gray-200 dark:bg-maple-dark-bg text-gray-900 dark:text-white" role="main">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= live_component @socket, MapleWeb.Live.Components.Navbar, id: :nav %>
  <%= @inner_content %>
</main>
