
<div class="flex justify-content">
  <div class="justify-content">
    <%= link img_tag(Routes.static_path(@conn, "/images/maple-leaf.png")), to: Routes.page_path(@conn, :index) %>
  </div>

  <div class='pl-2 <%= apply_class_when_current_route(@conn, Routes.page_path(@conn, :index), "text-red-500") %>'>shopping list</div>
  <div class='pl-2 <%= apply_class_when_current_route(@conn, Routes.user_registration_path(@conn, :new), "text-red-500") %>'>expenses</div>
</div>

