<div class="p-20">
  SHOPPING LIST
  <.modal id="modal-test">
    <div class="text-center p-5 flex-auto justify-center">
      This is a modal Test
    </div>
    <:buttons>
        <button class="maple-button" phx-click="cancel">Cancel</button>
        <button class="maple-button">Confirm</button>
    </:buttons>
  </.modal>
</div>
