<%= if !@loaded do %>
  LOADING... 
<% else %>
  
<div class="max-w-2xl m-auto" id="group-idx">
  <.live_component module={ShoppingListDetailsTable} id="shopping_list__table" shopping_list={@shopping_list} />
</div>
<% end %>
