<div>
  <div class="block">
    <%= gettext "welcome %{name}", name: "cleber" %>
    <%= gettext "Shopping Lists" %>

  </div>

  <div class="p-20">
    <button id="darkModeButton" phx-hook="darkMode">Toggle Dark Mode</button>
  </div>
</div>
